.card {
    height: 400px;
    width: 60%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    text-decoration: none;
    border: 2px solid #c41414;
    margin-bottom: 20px;
    background-image: url('../assets/img/sarsilmaz-pistol.jpg');
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;

}
.card >.inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgba(196, 20, 20, 0.5);
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.card:first-child{
    margin-top: 20px;
}
.card:hover{
    width: 80%;
}
  
.card:hover > .inner {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgba(196, 20, 20, 0.5);
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 5px;
}
  
  .title {
    font-size: 24px;
    color: fff;  
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
    position: relative; 

  }
  
  .subtitle {
    color: #b0215e;
    text-align: center;
  }
  
  .card2 {
    background-image: url('../assets/img/kodlama.jfif');
  }
  
  .card3 {
    background-image: url('../assets/img/muzik.jpg');
  }
  .card4{
      background-image: url('../assets/img/arac-kullanmak.jpg');
  }
  .head-text{
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
  }